*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.titulares {
  padding: 1rem;
  background-color: #222;
  color: #EEE;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu ul {
  list-style-type: none;
}

.hero-image {
  min-height: 100vh;
  background-image: url("https://placeimg.com/1280/720/animals");
  background-repeat: no-repeat;
  color: #FFF;
}

.hero-image div {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
}

.hero-image h1 {
  font-size: 5vw;
}

.flex-responsive {
  display: flex;
  flex-flow: row wrap;
}

.flex-responsive-item {
  border: thin solid #F60;
  flex: 1 1 200px;
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    padding: .5rem;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .flex-item {
    flex: 0 0 50%;
  }

  .flex-order-1 {
    order: 1;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}