*,
*::after,
*::before {
  box-sizing: border-box;
}

.my-page {
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  background-color: #ccc;
}

.dark {
  background-color: #fff;
  filter: invert(1);
}
