html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #1d1d1d;
    text-align: center;
}

a{
    color: #80BD01;
    text-decoration: none;
}

a:hover{
    color: rgba(128, 189, 1, 0.5);
}

li{
    list-style-position: inside;
}

#pug, #ejs{
    font-size: 2rem;
    border: medium solid #80BD01;
    box-shadow: .25rem .25rem 0.5rem  rgba(255, 255, 255, 0.5);
}

.container{
    margin: auto;
    width: 80%;
    padding: 1rem;
}

#logo-node{
    margin: auto;
    height: 150px;
    width: 450px;
    background: transparent url('../img/node-img.png') no-repeat center;
    background-size: contain;
}

.boton{
    font-size: 2rem;
    color: #1d1d1d;
    background-color: #80BD01;
    border: 0;
    cursor: pointer;
}

.boton:hover{
    color: #80BD01;
    background-color: #ddd;
    transition: all 0.3s ease-out;
}

.item{
    float: left;
    width: 25%;
}

.error{
    display: block;
    margin: auto;
    padding: 1rem;
    width: 90%;
    overflow-x: scroll;
    text-align: left;
    background-color: #303030;
    color: #80BD01;
}