html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

input[type="text"] {
  border: thin solid #ddd;
  border-radius: 0.35rem;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

button,
input[type="submit"],
input[type="reset"] {
  border: thin solid #777;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #ddd;
  color: #777;
  font-weight: bold;
  font-size: 1rem;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form {
  margin-bottom: 1rem;
}

hr {
  margin: 1rem auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #ddd;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}

/* Selects Anidados */

form {
  margin-bottom: 1rem;
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

select {
  border: thin solid #dedede;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
  color: #444;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
